img {
  padding: 0px;
}

.number-table {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  width: 8%;
}

.contenedor {
  margin-inline: 5%;
}

table {
  width: 65%;
}

td :last-child {
  border: 0px solid transparent !important;
  background-color: red;
}